body {
  margin: 0;
  font-family: Arial;
  background: #0D0D0D;
  color: white;
}

/* LOGIN */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 300px;
}

.login-box input {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
}

.login-box button {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  background: gold;
  border: none;
}

/* SITE */
.header {
  text-align: center;
  padding: 15px;
  background: black;
  color: gold;
}

.card {
  background: gold;
  color: black;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
}

.deposit {
  padding: 20px;
  text-align: center;
}
